<div class="release-detail" *ngIf="release">
    <div class="release-header">
        <div class="title-section">
            <h2>{{release.version}}</h2>
            <span class="status-badge" [ngClass]="release.status.toLowerCase()">
                {{release.status}}
            </span>
        </div>
        <div class="actions">
            <button class="edit-button" (click)="onEdit()">Edit Release</button>
            <button class="delete-button" (click)="onDelete()">Delete Release</button>
        </div>
    </div>

    <div class="release-content">
        <div class="info-section">
            <h3>{{release.name}}</h3>
            <div class="release-date">
                Release Date: {{release.releaseDate | date}}
            </div>
        </div>

        <div class="description-section">
            <h3>Description</h3>
            <p>{{release.description}}</p>
        </div>


        <div class="sprints-section">
            <div class="section-header" (click)="toggleSprints()" (keydown.enter)="toggleSprints()" tabindex="0">
                <h3>Related Sprints</h3>
                <span class="toggle-icon" [class.expanded]="isSprintsExpanded">▼</span>
            </div>
            <div [@expandCollapse]="isSprintsExpanded ? 'expanded' : 'collapsed'">
                <div class="sprints-list" *ngIf="release.sprintIds?.length">
                    <app-sprint-item 
                        *ngFor="let sprintId of release.sprintIds" 
                        [sprintId]="sprintId">
                    </app-sprint-item>
                </div>
                <p *ngIf="!release.sprintIds?.length" class="no-sprints">
                    No sprints assigned to this release
                </p>
            </div>
        </div>
    </div>
</div>