<div class="project-list">
    <h2>Projects</h2>
    <div *ngIf="projects.length; else noProjects" class="project-list-content">
        <app-project-item *ngFor="let project of projects" [project]="project" (edit)="editProject($event)"
            (delete)="deleteProject($event)"> </app-project-item>
        <button class="create-button" (click)="createProject()">Create +</button>
    </div>

    <ng-template #noProjects>
        <div class="no-projects-container">
            <p class="no-projects">No existing projects.</p>
            <button class="create-button" (click)="createProject()">Create +</button>
        </div>
    </ng-template>
</div>