@import '../../../../../styles/theme.scss';

.project-list {
    padding: $spacing-base;
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-width: 800px;
    margin: 0 auto;

    h2 {
        font-size: $font-size-large;
        margin-bottom: $spacing-small;
        font-weight: $font-weight-bold;
    }

    .project-item {
        padding: $spacing-base;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        background-color: $light-color;
        margin-bottom: $spacing-small;
        box-shadow: $box-shadow;

        h3 {
            font-size: $font-size-large;
            margin-bottom: $spacing-small;
        }

        p {
            font-size: $font-size-base;
            margin-bottom: $spacing-small;
        }

        button {
            background-color: $primary-color;
            border: none;
            padding: $spacing-small $spacing-base;
            font-size: $font-size-base;
            color: $light-color;
            cursor: pointer;
            border-radius: $border-radius;
            margin-right: $spacing-small;
            transition: background-color $transition-base;

            &:hover {
                background-color: $hover-color;
            }
        }
    }

    .create-button {
        display: block;
        width: 100%;
        padding: $spacing-small;
        background-color: $primary-color;
        color: $light-color;
        border: none;
        border-radius: $border-radius;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        cursor: pointer;
        transition: background-color $transition-base;

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }

    .no-projects {
        text-align: center;
        font-size: $font-size-base;
        color: $secondary-color;
        margin-bottom: $spacing-base;
    }
}