<div class="task-item">
    <div class="task-row primary">
        <div class="task-name">{{ task.name }}</div>
        <div class="task-badges">
            <span class="badge priority" [class]="getPriorityClass()">
                {{ task.priority }}
            </span>
            <span class="badge status" [class]="getStatusClass()">
                {{ task.status.replace('_', ' ') }}
            </span>
        </div>
    </div>

    <div class="task-row secondary">
        <div class="assigned-users">
            <app-user-avatar *ngFor="let user of task.assignedTo" [initials]="user.firstName[0] + user.lastName[0]">
            </app-user-avatar>
        </div>
        <div class="due-date" *ngIf="task.dueDate">
            <span class="icon">📅</span>
            {{ task.dueDate | date:'shortDate' }}
        </div>
    </div>
</div>