@import '../../../../../styles/theme.scss';

.kanban-board {
    display: flex;
    gap: $spacing-large;
    padding: $spacing-base;
    padding-left: calc(310px + $spacing-base);
    background-color: $background-color;
    min-height: calc(100vh - 2 * $spacing-base);
    overflow-x: auto;
}