@import '../../../../../styles/theme.scss';

.issue-list {
    padding: $spacing-base;
    padding-left: calc(250px + $spacing-base);
    background-color: $background-color;
    min-height: calc(100vh - 2 * $spacing-base); // Account for padding

    .issue-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-large;

        h2 {
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
    }

    .issue-list-content {
        width: 100%;
    }

    .create-button {
        padding: $spacing-small $spacing-base;
        background-color: $primary-color;
        color: $light-color;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        font-weight: $font-weight-bold;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    .no-issues {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 200px);
        gap: $spacing-large;

        p {
            font-size: $font-size-large;
            color: $text-muted;
            font-weight: $font-weight-bold;
        }

        .create-button {
            padding: $spacing-base $spacing-large;
            font-size: $font-size-base;
        }
    }
}