@import '../../../../../styles/theme.scss';

.active-badge {
    padding: $spacing-xs $spacing-small;
    border-radius: $border-radius;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    background: rgba($text-muted, 0.1);
    color: $text-muted;
    transition: all $transition-base;

    &.is-active {
        background: rgba($accent-color, 0.1);
        color: $accent-color;
    }
}