<div class="issue-item">
    <div class="issue-header">
        <div class="issue-title">
            <h3>{{ issue.title }}</h3>
            <span class="category-badge">{{ issue.category }}</span>
        </div>
        <div class="issue-dates">
            <span>Reported: {{ issue.reportedDate | date: 'shortDate' }}</span>
            <span>Due: {{ issue.dueDate | date: 'shortDate' }}</span>
        </div>
    </div>

    <p class="issue-description">{{ issue.description }}</p>



    <div class="issue-tasks">
        <div class="tasks-header" (click)="toggleTasks()">
            <h4>Tasks ({{ getCompletedTasksCount() }}/{{ issue.tasks.length }})</h4>
            <span class="toggle-icon" [ngClass]="{ 'expanded': isTasksExpanded }">
                {{ isTasksExpanded ? '▼' : '▲' }}
            </span>
        </div>
        <div class="tasks-list" [ngClass]="{ 'expanded': isTasksExpanded }">
            <app-task-item *ngFor="let task of issue.tasks" [task]="task">
            </app-task-item>
        </div>
    </div>


    <div class="issue-actions">
        <button class="edit-button" (click)="edit.emit(issue.id)"></button>
        <button class="delete-button" (click)="delete.emit(issue.id)"></button>
    </div>
</div>